.label {
    -fx-background-color: #204d68;
    -fx-border-color: derive(gray, 90%);
    -fx-border-width: 2px;
    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-radius: 1em 1em 0 1em;
    -fx-padding: 6px;
    -fx-border-insets: 0px 10px 0px 10px;
    -fx-background-insets: 0px 10px 0px 10px;
    -fx-text-fill: derive(gray, 90%);
    -fx-font-weight: 400;
    -fx-font-family: "JetBrains Mono Medium";
}

.reply-label {
    -fx-background-radius: 1em 1em 1em 0em;
    -fx-border-radius: 1em 1em 1em 0em;
    -fx-border-color: derive(gray, 50%);
    -fx-background-color: black;
}

#displayPicture {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 5, 5);
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-rotate: 0;
}
